@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.loading-dots span {
  opacity: 0;
  animation: fadeInOut 3s infinite;
}

.loading-dots span:nth-child(1) {
  animation-delay: 1s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 3s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent !important;
  text-shadow: none !important;
  color: white !important;
  font-size: normal !important;
  white-space: pre !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background-color: transparent !important;
}

.fullscreen-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fullscreen-mode .react-pdf__Document {
  max-width: 90vw;
  max-height: 90vh;
}


